<div class="container header-container">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
<footer id="footer" class="bg-dark">
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-12 col-md-4 my-auto pt-2 text-center text-white">
                <p>
                    <span class="d-block">Theoretics Art</span>
                    <span class="d-block"> Cardiff, Wales, UK</span>
                </p>
            </div>
            <div class="col-12 col-md-4 my-auto text-center">
                <a  href="/" aria-label="Link to homepage">
                    <img src="/media/logo.png" width="200" height="90" alt="logo" class="logo">
                </a>
            </div>
            <div class="col-12 col-md-4 my-auto text-center">
                <p class="contact-details">
                    <a href="mailto:info@theoreticsart.com" id="mailto" class="d-block" target="_blank" aria-label="Email me">
                        <i class="far fa-envelope" aria-hidden="true"></i> <small>info@theoreticsart.com</small>           
                    </a>
                    <a href="https://instagram.com/theoreticsart" aria-label="Follow me" class="d-block" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i> <small>theoreticsart</small>
                    </a>
                    <a href="https://facebook.com/Theoreticsart" aria-label="Follow me" class="d-block" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i> <small>Theoreticsart</small>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>