{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>FAQs</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>

        <div class="row mt-1 mb-2 d-block">
            <div class="col-12 col-md-12 justify-content-center text-center p-5">
                <strong>How can I contact you?</strong>
                <p> If you need to reach out to me, you can contact me directly on info@theoreticsart.com</p>
                
                <strong>Do you accept commissioned projects?</strong>
                <p>Yes, absolutely! 
                    <ol class="text-left">
                        <li>Contact Theoretics Art on info@theoreticsart.com. We will have an informal chat by phone/email about what you might like. If you aren’t sure we can work with complementing colour schemes for the room where this unique artwork will be.</li>
                        <li>Once the commission has been confirmed I will keep you up to date on progress (it’s a collaboration after all): This can include pictures and video updates!</li>
                        <li>When the painting is completed I will package it up carefully. It will be delivered to you pre-wired, ready to hang.</li>
                        <li>Unwrap the painting, place it on your wall and revel in your one of a kind painting!</li>
                    </ol>  
                </p>

                <strong>Do you have a newsletter I can sign up to?</strong>
                <p>At the moment I don't have a newsletter. But you can follow the latest Theoretics Art news via my social media.</p>

                <strong>Do you offer instalment payment plans?</strong>
                <p>At the moment, I can only accept payment in full for artwork purchased.</p>

                <strong>Do you have a return policy?</strong>
                <p>I do not operate a standard returns policy due to the individual nature of each piece I create. If there is an issue with your artwork, please contact me directly. I'm happy to discuss how we might resolve any problems on a case by case basis.</p>

                <strong>Do you rent or lease your artwork and what are your fees?</strong>
                <p>On a case by case basis I may be able to rent or lease my artwork. If you are interested in renting or leasing any of my original artwork, please contact me directly to discuss!</p>

                <strong>Does your original artwork come with a certificate of authenticity?</strong>
                <p>Yes. All my original paintings come with a certificate of authenticity to verify that they are a Theoretics Art original painting.</p>

                <strong>Do you help customers with selecting frames for your artwork?</strong>
                <p>Framing isn't a service I offer but if you're after general advice about framing your Theoretics Artwork, feel free to reach out to me on info@theoreticsart.com</p>

                <strong>How long will it take for my Theoretics Art artwork to arrive?</strong>
                <p>Please allow 4-7 days for your artwork to arrive. This allows me the time to properly process your order and ensure it's packaged correctly so it can arrive safely to you.</p>

                <strong>Where do you ship your artwork?</strong>
                <p>At the moment, I can only accept orders for UK delivery.</p>

                <strong>How much is shipping?</strong>
                <p>Shipping is calculated at 10% of the orders total. This is because shipping can vary according to the size of the artwork.</p>

            </div>>
        </div>
    </div>

{% endblock %}