html {
    height: 100%;
}

body {
    background: url('/media/background-image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh -164px);
    color: #000;
    font-family:'Rubik', sans-serif;
}

.text-white {
    color: #fff;
}

 a {
    color: #fff !important;
}

a:hover,
a:active,
a:focus {
    color: #cc9933 !important;
}

.active {
    text-decoration: underline !important;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.header-container {
    padding-top: 164px;
}

/* From Bulma */

.icon {
    align-items: center;
    display: inline-flex; 
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.visit-shop-button {
    background: #cc9933;
    color: #fff;
    min-width: 200px;
}

.visit-shop-button:hover,
.visit-shop-button:active,
.visit-shop-button:focus {
    background: #fff;
    color: #cc9933;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #cc9933;
    color: white !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Navbar */

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 1rem;
}

/* Media Queries */

    /* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

    /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
