{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2>About</h2>
                <hr class="w-50 p-2">
            </div>
        </div>

        <div class="row mt-1 mb-2 d-block">
            <div class="col-12 col-md-12 justify-content-center text-center">
                <img src="/media/chris.jpg" alt="photo of the artist behind Theoretics Art - Chris Allen">
              </div>>
            <div class="info-div col-12 col-md-12 justify-content-center text-center p-2">
                <h3>Hi. My name is Chris and I am the artist behind Theoretics Art.</h3>
                <p>
                    Based in Wales, I began exploring art over the first lockdown in 2020. 
                    I was interested in working with bold colours and shapes and from this curiosity, 
                    Theoretics Art was created.
                </p> 
                <p>
                    Theoretics Art paintings flirt with abstraction and street art with essences 
                    from multiple abstract art styles.Every original artwork I create, I aim to 
                    make a statement piece that brings excitement and personality into the room.
                </p>
                <p> 
                    Acrylic and spray paint are my core mediums. I work with layering, building
                    on top of layers to create a depth to the pieces that allow observers to find
                    something new every time. The focal point of each piece brings a sense of
                    reason and focus that draws eyes to the piece, and the viewers experience
                    begins.
                </p>
                <p>
                    I'm an avid walker and like to get out into the mountains frequently. 
                    Inspired by the Welsh hills, I began to teach myself photography - if only 
                    to capture those fleeting moments of dry, clear weather whilst hiking the Brecon Beacons! 
                    This interest soon developed into a secondary creative outlet. My photography is inspired
                    by the beauty of nature and how humans live and interact in the world. 
                </p>  
                    
            </div>>
        </div>
    </div>

{% endblock %}